<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<!-- eslint-disable-next-line @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/click-events-have-key-events, @angular-eslint/template/click-events-have-key-events -->
<div class="loading" *ngIf="!employees">Loading&#8230;</div>
<div class="table-responsive-sm">
    <table id="table_emp" class="table table-bordered table-hover table-striped" *ngIf="employees && employees.length">
        <thead>
            <tr>
            <th>

              <a (click)="sortBy('fullname')">Fullname {{sortIcon('fullname')}}</a>
            </th>
            <th>
              <a (click)="sortBy('email')">Mail {{sortIcon('email')}}</a></th>
            <th>
              <a (click)="sortBy('confirmemail')">confirmmail{{sortIcon('confirmemail')}}</a></th>
            <th></th>
        </tr>
        </thead>
        <tbody >
           <tr *ngFor="let employee of employees">
           <td>{{employee.fullname}}</td>
           <td>{{employee.email}}</td>
           <td>{{employee.confirmemail}}</td>
           <td>
            <button class="btn btn-primary" (click)="EditEmployee(employee.id)">Edit</button>
           </td>
           </tr>
        </tbody>
    </table>
</div>
