    <div class="container">
    <nav class="navbar navbar-expand-lg rounded-3" style="background-color:  #5379a294;margin-top: 10px;">
       <ul class="navbar-nav mr-auto">
        <li class="nav-item ms-3">
            <a class="nav-link" routerLink="/List" routerLinkActive="active">List</a>
        </li>
        <li class="nav-item ms-3">
            <a class="nav-link" routerLink="/Create" routerLinkActive="active">Create</a>
        </li>
       </ul>
    </nav>
    <router-outlet></router-outlet>
    </div>