<div class="card" >
  <h5 class="card-header" style="background-color: #5379a294;">
      Employee Management System
  </h5>
  <div class="card-body mx-auto">
     <!-- <img src="../assets/Images/emp.PNG" class="img-fluid image"
    alt="image Loading.." > -->

    <carousel >
      <slide>
        <img src="../assets/Images/emp.PNG" alt="first slide" class="img-fluid">
      </slide>
      <slide>
        <img src="../assets/Images/create5.jpg" alt="second slide" class="img-fluid">
      </slide>
      <slide>
        <img src="../assets/Images/create2.jpg" alt="third slide" class="img-fluid">
      </slide>
      <slide>
        <img src="../assets/Images/create3.jpg" alt="third slide" class="img-fluid">
      </slide>
    </carousel>
 </div>
</div>
